html {
    height: 100%;
    cursor: pointer;
}

body {
    margin: 0px;
    height: 100%;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
}

body > div {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0px;
}

.reset {
    height:auto;
    display:flex;
    flex-direction: row;
}

.reset button {
    display: block;
    width:100%;
    margin: 5px;
}

iframe {
    height:100%;
    width:100%;
    min-width: 0px;
}